:root {
  --primary-color: #22438f;
  --primary-text: white;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100dvw;
  min-height: 100dvh;
  font-family: Roboto, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

#header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

@media (width <= 500px) {
  #header {
    padding: 10px;
    display: flex;
    flex-direction: column;
  } 
}

#status-container {
  font-family: monospace;
}

.unknown-status {
  color: #555
}

.online-status {
  color: #149203
}

.offline-status {
  color: #b60000
}

#video-stream {
  background-color: black;
  width: 100%;
}

#controls {
  display: flex;
  padding: 10px;
  gap: 5px;
}

#controls button {
  background-color: var(--primary-color);
  color: var(--primary-text);
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-family: Roboto, sans-serif;
}

#controls button:disabled {
  background-color: #333
}

#controls button:hover {
  filter: brightness(80%)
}

@media (width <= 500px) {
  #controls {
    flex-direction: column;
  }
}